*
  box-

.small_logo
  margin-bottom: 30px
.services
  list-style: none
  li
    float: left
    margin-right: 3.5%
    figure
      height: 400px
      &:hover > img
        opacity: .5
      &:hover > figcaption
        width: 100%
        opacity: 1
      img
        -webkit-transition: all 1s ease-out
        -moz-transition: all 1s ease-out
        -o-transition: all 1s ease-out
        transition: all 1s ease-out
      figcaption
        position: relative
        color: white
        bottom: 103px
        width: 0px
        opacity: 0
        background: rgba(203,233,245,1)
        -webkit-transition: all 1s ease-out
        -moz-transition: all 1s ease-out
        -o-transition: all 1s ease-out
        transition: all 1s ease-out
